/* Override bootstrap column padding*/
[class^="col-"], [class*=" col-"] {
	padding-left: 0;
	padding-right: 0;
}

html {
	padding: 2em 4em;
}

input, textarea {
	padding: 0.3em !important;
	font-size: 1em;
	border: 1px lightgray solid;
	width: 100%;
}

label {
	padding: 0.2em 0 !important;
	font-size: 1em;
}

h2 {
	margin: 0 0 0.7em 0;
}

.testBlock:not(:first-child) {
	padding: 1.5em 0 0 0;
	margin: 1.5em 0 0 0;
	border-top: medium solid lightgray;
}


.testBlock > div:not(:first-child) {
	margin: 0.8em 0 0 0;
}

.testBlock > div:first-child {
	margin: 0 0 0 0;
}

.testBlockHeader {
	font-size: 1.5em;
}

#resultsContainer {
	position: fixed;
	height: 100%;
	overflow-y: auto;
}

#linkHolder {
	padding: 0.2em 0;
}

.responseText {
	color: blue;
	font-family: monospace;
}

.parameterText {
	color: blue;
	font-family: monospace;
}