<!DOCTYPE html>
<!-- ========================================================================
  Copyright (C) 2016-2017 by ENLASO Corporation
-----------------------------------------------------------------------------
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or 
  implied. See the License for the specific language governing 
  permissions and limitations under the License.
 ======================================================================== -->

<html ng-app="palauAPIApp">

	<head>
		<title>Palau Bridge Client</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
	</head>

	<body ng-controller="PalauAPICtrl">

		<div class="container-fluid">
		
			<div class="row">
				<div class="col-md-12">
					<h2>Client Example for Palau Bridge</h2>
					<p>Palau Bridge is a REST API that allows client applications to access Palau, <a href="http://www.enlaso.com/" target="_blank">ENLASO</a>'s translation management system.
					For more information see: <br>
					- The main documentation: <a href="https://palau.enlaso.com/shared/api-docs/index.html">https://palau.enlaso.com/shared/api-docs/index.html</a><br>
					- The details for each end-points of the service: <a href="https://palau.enlaso.com/shared/api-docs/end-points.html">https://palau.enlaso.com/shared/api-docs/end-points.html</a><br>
					- The source code of this example: <a href=" https://bitbucket.org/enlaso/palau-bridge-demo"> https://bitbucket.org/enlaso/palau-bridge-demo</a></p>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7">

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Configuration</div>
						</div>

						<div class="row">
							<label class="col-md-4">Palau API Host:</label>
							<div class="col-md-8">
								<input ng-model="apiHost" type="text" />
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Obtain Session Token</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="getToken()">Get Token</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Creates a session token valid for 30 minutes.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathTokenBase" type="text" readonly />
							</div>
							
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'POST'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">ENLASO Key:</label>
							<div class="col-md-8">
								<input ng-model="keyId" ng-change="buildAuthHeader()" type="text" />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Username:</label>
							<div class="col-md-8">
								<input ng-model="username" ng-change="buildAuthHeader()" type="text" />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Password:</label>
							<div class="col-md-8">
								<input ng-model="pwrd" ng-change="buildAuthHeader()" type="password" />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Auth Header Preview:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="authHeader" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Token Response:</label>
							<div class="col-md-8">
								<input class="responseText" ng-model="resultGetToken" placeholder="<token>" type="text" readonly />
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Check Language Pair</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="checkLangPair()">Check Languages</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Verifies if a given language pair is supported.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathCheckLangPair+'/{pair}'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>
						
						<div class="row">
							<label class="col-md-4">Language pair:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="checkLangValue" type="text" placeholder="Example: en-US_ZH"/>
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">List Language Pairs</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="listLangPairs()">List Language Pairs</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Lists the most common language pairs supported by the system.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathCheckLangPair" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>
					</div>
					
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Create Project</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="createProject()">Create Project</button>
							</div>
						</div>
						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Creates a new project for the customer associated with your credentials.
NOTE: Not all users have permission to use this functions.</textarea>
							</div>
						</div>
						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase" type="text" readonly />
							</div>
						</div>
						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'POST'" type="text" readonly />
							</div>
						</div>
						<div class="row">
							<label class="col-md-4">Source Language (BCP-47):</label>
							<input class="col-md-8 parameterText" ng-model="createProjectForm.source" type="text" placeholder="Example: en-US"/>
						</div>
						<div class="row">
							<label class="col-md-4">Target Languages (BCP-47 list):</label>
							<input class="col-md-8 parameterText" ng-model="createProjectForm.targets" type="text" placeholder="Example: fr-FR, de-DE"/>
						</div>
						<div class="row">
							<label class="col-md-4">Project Short Name:</label>
							<input class="col-md-8 parameterText" ng-model="createProjectForm.slug" type="text" placeholder="Example: my_project"/>
						</div>
					</div>
					
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">List Projects</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="listProjects()">List Projects</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Gets the list of projects for the customer associated with your credentials.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>

					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">List Source Files</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="listProjFiles()">List Files</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Gets the list of all source files for a given project.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase+'/{projId}/files'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Project ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="listProjFilesProjID" type="text" />
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Upload Source Files</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="addProjFiles()">Upload Files</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Upload a source file (or a set of source files in a zip file) for translation.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase+'/{projId}/files'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'POST'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Project ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="addProjFilesProjID" type="text" />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Source Language (BCP-47):</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="addProjFilesForm.source" type="text" placeholder="Example: en-US"/>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Target Language (BCP-47):</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="addProjFilesForm.target" type="text" placeholder="Example: fr-FR"/>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Config ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="addProjFilesForm.configId" placeholder="<optional parameter>" type="text" />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Choose File(s):</label>
							<div class="col-md-8">
								<input type="file" class="parameterText" ng-file-select ng-click="addProjFilesSelection=null;" ng-model="addProjFilesSelection" ng-file-change="fileSelected($files, $event)"/>
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Check Task</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="checkTask()">Check Task</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Checks the status of a task.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathCheckTask+'/{taskId}'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Task ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="checkTaskTaskID" type="text" />
							</div>
						</div>
					</div>
					
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Set Callback URLs</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="setCallback()">Set Callback</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="4" readonly>Sets callback URLs for a project. ENLASO uses these URLs to notify you when events of specific 'type' occur. Currently 'type' can be 'transready' (a file is translated and ready for download) or 'canceltrans' (a file has been canceled from ENLASO's system).</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase+'/{projId}/callbacks/{type}'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'PUT'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Project ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="setCallBackProjD" type="text" />
							</div>
						</div>
						
						<div class="row">
							<label class="col-md-4">Callback Type:</label>
							<div class="col-md-8">
								<select class="parameterText form-control" ng-model="setCallBackType">
									<option>transready</option>
									<option>canceltrans</option>
								</select>
							</div>
						</div>
						
						<div class="row">
							<label class="col-md-4">Callback URL:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="setCallBackURL" placeholder="Example: http://company.com/alerts/translation_ready" type="text" />
							</div>
						</div>
						
						<div class="row">
							<label class="col-md-4">Callback HTTP Method:</label>
							<div class="col-md-8">
								<select class="parameterText form-control" ng-model="setCallBackMethod">
									<option value="">Optional -- default is POST</option>
									<option>GET</option>
									<option>POST</option>
									<option>PUT</option>
								</select>
							</div>
						</div>
						
						<!--<div class="row">
							<label class="col-md-4">File ID Parameter Type:</label>
							<div class="col-md-8">
								<select class="parameterText form-control" ng-model="setCallBackFileIdParameterType">
									<option>Body</option>
									<option>Path</option>
									<option>Query</option>
								</select>
							</div>
						</div>-->
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Get File Metrics</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="getFileMetrics()">Get Metrics</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Gets the metrics (e.g. word count) for a given file.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathFileBase+'/{fileId}/metrics'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">File ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="getFileMetricsFileID" type="text" />
							</div>
						</div>
					</div>
					
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Cancel File</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="cancelFile()">Cancel File</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Request the cancellation of a given file.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathFileBase+'/{fileId}/cancel'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'PUT'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">File ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="cancelFileFileID" type="text" />
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">List Project Languages</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="listProjLangs()">List Languages</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Gets the list of language pairs for a given project.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase+'/{projId}/pairs'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Project ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="listProjLangsProjID" type="text" />
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Mark Pair as Ready</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="markPairAsReady()">Mark Pair as Ready</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>For the given language pair, marks any uploaded files not in process yet as ready to be processed.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase+'/{projId}/{pair}/ready'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'PUT'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Project ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="markPairAsReadyProjID" type="text" />
							</div>
						</div>
						<div class="row">
							<label class="col-md-4">Language Pair:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="markPairAsReadyPair" placeholder="Example: en-us_fr-fr" type="text" />
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Pseudo-Translate File</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="triggerPseudoTrans()">Pseudo-Translate File</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Triggers the pseudo-translation of a given file. The file must be marked as ready to be processed.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathFileBase+'/{fileId}/pseudotrans'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'PUT'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">File ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="triggerPseudoTransFileID" type="text" />
							</div>
						</div>
					</div>

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Get File Information</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="getFileInfo()">Get File Information</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Gets the latest information for a given file.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathFileBase+'/{fileId}'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">File ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="getFileInfoFileID" type="text" />
							</div>
						</div>
					</div>
					

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Get Translated File</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="getFileTranslation()">Get Translation</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Gets the translated version of a given file.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathFileBase+'/{fileId}/translation'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'GET'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">File ID:</label>
							<div class="col-md-8">
								<input class="col-md-8 parameterText" ng-model="getFileTranslationFileID" type="text" />
							</div>
						</div>
					</div>
					
					
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Accept File</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="acceptFile()">Accept File</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Success: The file has been marked as accepted.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathFileBase+'/{fileId}/accept'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'PUT'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">File ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="acceptFileFileID" type="text" />
							</div>
						</div>
					</div>

					<!--
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Get Available Translations</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="listProjTranslations()">Get Translations</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">API Endpoint:</label>
							<input class="col-md-8" ng-value="apiHost+pathProjectBase+'/{projId}/{langPair}/translations'" type="text" readonly />
						</div>

						<div class="row">
							<label class="col-md-4">Project ID:</label>
							<input class="col-md-8 parameterText" ng-model="listProjTranslationsProjID" type="text" />
						</div>

						<div class="row">
							<label class="col-md-4">Language Pair:</label>
							<input class="col-md-8 parameterText" ng-model="listProjTranslationsLangPair" placeholder="Example: en-us_fr-fr" type="text" />
						</div>
					</div>
					-->

					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Delete Project</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="deleteProject()">Delete Project</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Deletes an existing project.
NOTE: Not all users have permission to use this functions.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathProjectBase+'/{projId}'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'DELETE'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Project ID:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="deleteProjProjID" type="text" />
							</div>
						</div>
					</div>
					
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">Delete Session Token</div>
							<div class="col-md-8">
								<button type="button" class="btn btn-sm btn-primary" ng-click="deleteToken()">Delete Token</button>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Description:</label>
							<div class="col-md-8">
								<textarea rows="2" readonly>Deletes an existing session token.
NOTE: Not all users have permission to use this functions.</textarea>
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Endpoint URL:</label>
							<div class="col-md-8">
								<input ng-value="apiHost+pathTokenBase+'/{value}'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">HTTP Method:</label>
							<div class="col-md-8">
								<input ng-value="'DELETE'" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-4">Token to Delete:</label>
							<div class="col-md-8">
								<input class="parameterText" ng-model="resultGetToken" type="text" />
							</div>
						</div>
					</div>

				</div>

				<!-- RESULTS CONTAINER -->
				<div id="resultsContainer" class="col-xs-offset-7 col-xs-5">
					<div class="testBlock">
						<div class="row">
							<div class="col-md-4 testBlockHeader">API Responses</div>
						</div>

						<div class="row">
							<label class="col-md-2">Status:</label>
							<div class="col-md-8">
								<input class="responseText" ng-model="responseStatus" placeholder="<HTTP status>" type="text" readonly />
							</div>
						</div>

						<div class="row">
							<label class="col-md-2">Details:</label>
							<div class="col-md-8">
								<textarea class="responseText" rows="15" ng-model="responseDetails" readonly></textarea>
							</div>
						</div>

						<div class="row" ng-show="showFileLink">
							<label class="col-md-2">File Link:</label>
							<div id="linkHolder" class="col-md-8 responseText"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- third party -->
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-file-upload.min.js"></script>
		<script src="js/angular-file-upload-shim.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/palau-bridge-demo.js"></script>

	</body>

</html>